 /* This file contains the main styles for the website. */
 @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

 :root {
     --color-gray-100: #F5F5F5;
     --color-gray-200: #FFFFFF;
     --color-gray-300: #CCCCCC;
     --color-gray-400: #7E7E7E;
     --color-gray-500: #757575;
     --color-black: #111111;
     --color-accent: #9E3500;
     --radius2: 2px;
     --radius4: 4px;
     --radius30: 30px;
     --radius100: 100px;
     --transition: .3s linear;
     --font: 'Helvetica Neue', sans-serif;
 }

 body {
     font-family: var(--font);
 }

 /* header  */
 header {
     width: min(100%, 1440px);
     margin: auto;
     transition: top 0.3s ease;
     top: -80px;
 }

 .header-fixed {
     position: fixed;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     z-index: 100;
 }

 /* top-navigation */
 .top-nav {
     height: 36px;
     padding-inline: 40px;
     background: var(--color-gray-100);
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .top-nav-list {
     display: flex;
     column-gap: 14px;
 }

 .line {
     padding-right: 12px;
     border-right: 2px solid var(--color-black);
 }

 .top-nav-link {
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
     letter-spacing: 0%;
     color: var(--color-black);
     transition: var(--transition);
 }

 .top-nav-link:hover {
     opacity: .6;
 }

 /* main-navigation */
 .main-nav {
     height: 60px;
     padding-inline: 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .main-nav-list {
     display: flex;
     column-gap: 24px;
 }

 .main-nav-link {
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0%;
     text-align: center;
     color: var(--color-black);
     position: relative;
     transition: var(--transition);
 }

 .main-nav-link::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -4px;
     width: 100%;
     height: 2px;
     background: var(--color-black);
     transform: scaleX(0);
     transform-origin: left;
     transition: transform 0.3s ease;
 }

 .main-nav-link:hover::after {
     transform: scaleX(1);
 }

 .main-nav-icons {
     display: flex;
     align-items: center;
     column-gap: 20px;
 }

 form {
     width: 180px;
     height: 40px;
     background: var(--color-gray-100);
     border-radius: var(--radius100);
     transition: var(--transition);
     position: relative;
 }

 .nav-search-btn {
     border-radius: var(--radius100);
     border: none;
     width: 40px;
     height: 100%;
     background: transparent;
     cursor: pointer;
     transition: var(--transition);
     position: absolute;
 }

 input[type=search] {
     width: 100%;
     height: 100%;
     border-radius: var(--radius100);
     outline: none;
     border: none;
     padding-left: 46px;
     background: transparent;
     transition: var(--transition);
 }

 ::placeholder {
     font-weight: 400;
     font-size: 16px;
     line-height: 100%;
     letter-spacing: 0%;
     color: var(--color-gray-400);
 }

 form:hover {
     background: var(--color-gray-300);
 }

 form:hover .nav-search-btn {
     background: var(--color-gray-100);
 }

 .nav-icons-link {
     width: 40px;
     height: 40px;
     border-radius: var(--radius100);
     display: flex;
     justify-content: center;
     align-items: center;
     transition: var(--transition);
 }

 .nav-icons-link:hover {
     background: var(--color-gray-300);
 }

 /* cover-section */
 .cover-section {
     width: min(100%, 1360px);
     margin: 10px auto 80px;
 }

 .cover-section-img {
     width: 100%;
     height: 700px;
     object-fit: cover;
 }

 .cover-section-caption {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 48px;
 }

 .cover-section-title {
     font-weight: 500;
     font-size: 54px;
     line-height: 60px;
     letter-spacing: 0%;
     text-align: center;
     text-transform: uppercase;
     margin-bottom: 24px;
     color: var(--color-black);
 }

 .cover-section-subtitle {
     font-family: Helvetica Neue;
     font-weight: 400;
     font-size: 15px;
     line-height: 24px;
     letter-spacing: 0%;
     text-align: center;
     color: var(--color-black);
     margin-bottom: 30px;
 }

 .cover-section-button {
     width: 152px;
     height: 40px;
     border-radius: var(--radius30);
     background: var(--color-black);
     border: none;
     font-size: 15px;
     line-height: 24px;
     letter-spacing: 0%;
     text-align: center;
     color: var(--color-gray-200);
     transition: var(--transition);
 }

 .cover-section-button:hover {
     background: var(--color-gray-500);
 }

 /* filters-section */
 .filters-section {
     width: min(100%, 1360px);
     margin: auto;
 }

 .filters-section-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 48px;
 }

 .filters-section-title {
     font-weight: 500;
     font-size: 24px;
     line-height: 31.2px;
     letter-spacing: 0%;
     color: var(--color-black);
 }

 .filters-section-header-buttons {
     display: flex;
     align-items: center;
     column-gap: 25px;
 }

 .filters-section-filter-btn {
     display: flex;
     align-items: center;
     column-gap: 8px;
     border: none;
     background: transparent;
 }

 .hide-filters {
     font-weight: 400;
     font-size: 16px;
     line-height: 28px;
     letter-spacing: 0%;
     text-align: center;
     color: var(--color-black);
 }

 .sort-by-btn {
     border: none;
     background: transparent;
     display: flex;
     align-items: center;
     column-gap: 8px;
     font-weight: 400;
     font-size: 15px;
     line-height: 28px;
     letter-spacing: 0%;
     color: var(--color-black);
 }

 .filters-section-main {
     display: flex;
     column-gap: 48px;
 }

 .filters-section-bar {
     flex: 1 0 236px;
     overflow-y: scroll;
 }

 .hide {
     display: none;
 }

 .filters-bar-nav {
     margin-bottom: 40px;
 }

 .filters-bar-list {
     display: flex;
     flex-direction: column;
     row-gap: 14px;
 }

 .filters-bar_link {
     font-weight: 500;
     font-size: 15px;
     line-height: 21.6px;
     letter-spacing: 0%;
     color: var(--color-black);
 }

 .drop-down-menu-container {
     display: flex;
     flex-direction: column;
     row-gap: 25px;
     height: 300px;
 }

 .drop-down-menu {
     border-top: 1px solid var(--color-gray-300);
 }

 .drop-down-menu-header {
     padding-block: 16px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 4px;
 }

 .drop-down-menu-checkboxs {
     display: flex;
     flex-direction: column;
     row-gap: 4px;
 }

 .checkbox-label {
     display: flex;
     align-items: center;
     column-gap: 6px;
 }

 .checkbox-label input {
     appearance: none;
     width: 20px;
     height: 20px;
     border: 1px solid var(--color-gray-300);
     border-radius: var(--radius4);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 input[type="checkbox"]:checked {
     background-color: #111111;
 }

 input[type="checkbox"]:checked::before {
     content: "\f00c";
     font-family: "Font Awesome 6 Free";
     font-weight: 900;
     color: var(--color-gray-200);
 }

 .checkbox-label label {
     font-weight: 400;
     font-size: 15px;
     line-height: 24px;
     letter-spacing: 0%;
     color: var(--color-black);
 }

 .filters-section-cards {
     width: 1076px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: start;
     gap: 16px;
     transition: var(--transition);
 }

 .full {
     width: 100%;
 }

 .card {
     display: block;
     border: none;
     cursor: pointer;
 }

 .card-image {
     width: 100%;
 }

 .card-title {
     margin-block: 40px 4px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
     letter-spacing: 0%;
     color: var(--color-black);
 }

 .card-category {
     font-weight: 400;
     font-size: 15px;
     line-height: 24px;
     letter-spacing: 0%;
     color: var(--color-gray-500);
     margin-bottom: 20px;
 }

 .product-price {
     font-weight: 500;
     font-size: 15px;
     line-height: 28px;
     letter-spacing: 0%;
     color: var(--color-black);
 }

 .page-navigation {
     margin-top: 51px;
 }

 /* essentials-section */
 .essentials-section {
     width: min(100%, 1360px);
     margin: 120px auto 20px;
 }

 .essentials-section-header {
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     row-gap: 24px;
     margin-bottom: 30px;
 }

 .essentials-header-title {
     font-weight: 500;
     font-size: 52px;
     line-height: 60px;
     letter-spacing: 0%;
     text-transform: uppercase;
     color: var(--color-black);
 }

 .essentials-header-subtitle {
     font-weight: 400;
     font-size: 15px;
     line-height: 24px;
     letter-spacing: 0%;
     color: var(--color-black);
 }

 .essentials-inner-section-title {
     font-weight: 500;
     font-size: 23px;
     line-height: 28px;
     letter-spacing: 0%;
     color: var(--color-black);
     margin-bottom: 24px;
 }

 .essentials-inner-section-cards {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 540px;
     column-gap: 12px;
 }

 .essentials-card {
     position: relative;
 }

 .essentials-card-img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .essentials-card-btn {
     position: absolute;
     left: 48px;
     bottom: 48px;
     width: 86px;
     height: 40px;
     border-radius: var(--radius30);
     border: none;
     background: var(--color-gray-200);
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
     letter-spacing: 0%;
     color: var(--color-black);
 }


 /* product page ---------------------- */
 .product-details {
     width: min(100%, 1200px);
     margin: 48px auto 80px;
     display: flex;
     column-gap: 108px;
 }

 .product-details-left {
     width: 666px;
     height: 562px;
 }

 .product-details-image {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .product-details-right {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }

 .small-photos {
     display: flex;
     column-gap: 8px;
     margin-bottom: 48px;
 }

 .product-small-img {
     width: 144px;
     height: 144px;
 }

 .product-description {
     font-weight: 400;
     font-size: 15px;
     line-height: 28px;
     letter-spacing: 0%;
     color: var(--color-black);
 }

 .view-product-link {
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
     letter-spacing: 0%;
     text-align: center;
     color: var(--color-black);
     margin-top: auto;
     text-decoration: underline 1px solid #111111;
     text-underline-offset: 4px;
 }